.s6-image-box {
  display: flex;
  justify-content: center;
  align-items: center;
  top: -15vh;
  height: 100%;
  opacity: 0;
}
.s6-image-box img {
  top: 20vh;
  max-width: 80vw;
}
.s6-message-box {
  top: 50vh;
  margin: auto;
  height: 10vh;
  font-size: 2.5rem;
  opacity: 0;
}
.s6-message-box p {
  margin: auto;
  color: white;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.6;
  text-align: center;
}
.card-message {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  opacity: 0;
  top: 0;
}
.home-card-3 {
  top: 20vh;
  text-align: center;
}
#message-z6 {
  display: flex;
  justify-self: center;
  align-items: center;
}
#s6-message-box-0,
#s6-message-box-1 {
  font-size: 1.2rem;
  font-weight: 600;
}
@media (max-width: 1024px) {
  .s6-message-box p {
    font-size: 1.5rem;
  }
}
@media (max-width: 640px) {
  .s6-message-box p {
    font-size: 1.2rem;
  }
}
@media (max-width: 375px) {
  #s6-message-box-0,
  #s6-message-box-1 {
    margin-top: 20px;
  }
}
