.s4-message-box {
  top: 50vh;
  margin: auto;
  height: 10vh;
  font-size: 2.5rem;
  opacity: 0;
}
.s4-message-box p {
  font-weight: bold;
  text-align: center;
  line-height: 1.2;
  margin: auto;
}
.s4-message {
  color: #000000;
}
.s4-display-none {
  display: none;
}
@media (min-width: 1025px) {
  .s4-message {
    font-size: 3rem;
  }
  .s4-img {
    width: 3rem;
    height: 3rem;
  }
}
@media (max-width: 1024px) {
  .s4-message {
    font-size: 2rem;
  }
  .s4-img {
    width: 2rem;
    height: 2rem;
  }
}
@media (max-width: 640px) {
  .s4-message {
    font-size: 1.5rem;
  }
  .s4-img {
    width: 1.5rem;
    height: 1.5rem;
  }
  .s4-display-none {
    display: block;
  }
}
