.s7-video-box {
  height: 100%;
  position: relative;
  margin: auto;
}
.s7-video {
  opacity: 0;
  height: 100%;
  /* transform: translate3d(50%, 50%, 0); */
}
.tossteam-video {
  height: 40vh;
}
.s7-message-box {
  top: 50vh;
  margin: auto;
  height: 10vh;
  font-size: 2.5rem;
  opacity: 0;
}
.s7-message-box p {
  font-weight: bold;
  text-align: center;
  line-height: 1.2;
  margin: auto;
  color: #ffffff;
}
.s7-button-box {
  margin-top: -5vh;
  display: flex;
  justify-content: center;
}
.s7-button {
  background-color: #ffffff;
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 42px;
  padding: 12px 20px;
}
.s7-button-img {
  width: 1.3rem;
  margin-right: 0.5rem;
}
#s7-message-box-0,
#s7-message-box-1 {
  box-sizing: border-box;
  margin-top: 17vh;
  padding: 18px 32px;
}
#s7-message-box-0 {
  top: 20vh;
}
#s7-message-box-1 {
  top: 42vh;
}

@media (min-width: 1025px) {
  #s7-message-0 {
    font-size: 3rem;
  }
  #s7-message-1 {
    font-size: 4rem;
  }
  #s7-message-2 {
    margin-top: 1rem;
    font-size: 2rem;
  }
  .s7-button-box {
    margin-top: 0px;
  }
}

@media (max-width: 1024px) {
  #s7-message-0 {
    font-size: 2.5rem;
  }
  #s7-message-1 {
    font-size: 3rem;
  }
  #s7-message-2 {
    margin-top: 0.5rem;
    font-size: 1.5rem;
  }
  #s7-message-box-1 {
    top: 37vh;
  }
  .s7-button-box {
    margin-top: 10px;
  }
}

@media (max-width: 640px) {
  #s7-message-0 {
    font-size: 2rem;
  }
  #s7-message-1 {
    font-size: 2.5rem;
  }
  #s7-message-2 {
    margin-top: 0.7rem;
    font-size: 1.2rem;
  }
  #s7-message-box-1 {
    top: 35vh;
  }
}

@media (max-width: 375px) {
  .s7-button-box {
    margin-top: 20px;
  }
}
