#sticky-box-7 {
  height: 100%;
}
.s-7-video {
  opacity: 0;
  height: 100%;
  /* transform: translate3d(50%, 50%, 0); */
}
#king-7-1 {
  font-weight: 900;
  font-size: 2.5rem;
  line-height: 1.6;
}
#king-7-2 {
  font-weight: 900;
  font-size: 2.5rem;
  line-height: 1.6;
}
#king-7-3 {
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.6;
}
.section-7-button-box {
  margin-top: -5vh;
  display: flex;
  justify-content: center;
}
.section-7-button-img {
  width: 1.3rem;
  margin-right: 0.5rem;
}
#king-7-4 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 42px;
  padding: 12px 20px;
}
#message-a7,
#message-b7 {
  box-sizing: border-box;
  margin-top: 17vh;
  padding: 18px 32px;
}
#message-a7 {
  top: 20vh;
}
#message-b7 {
  top: 42vh;
}
.s-7-video-box {
  height: 100%;
  position: relative;
  margin: auto;
}
.tossteam-video {
  height: 40vh;
}

@media (min-width: 1025px) {
  #s7-0 {
    font-size: 3rem;
  }
  #s7-1 {
    font-size: 4rem;
  }
  #s7-2 {
    margin-top: 1rem;
    font-size: 2rem;
  }
  .section-7-button-box {
    margin-top: 0px;
  }
}

@media (max-width: 1024px) {
  #s7-0 {
    font-size: 2.5rem;
  }
  #s7-1 {
    font-size: 3rem;
  }
  #s7-2 {
    margin-top: 0.5rem;
    font-size: 1.5rem;
  }
  #message-b7 {
    top: 37vh;
  }
  .section-7-button-box {
    margin-top: 10px;
  }
}

@media (max-width: 640px) {
  #s7-0 {
    font-size: 2rem;
  }
  #s7-1 {
    font-size: 2.5rem;
  }
  #s7-2 {
    margin-top: 0.7rem;
    font-size: 1.2rem;
  }
  #message-b7 {
    top: 35vh;
  }
}

@media (max-width: 375px) {
  .section-7-button-box {
    margin-top: 20px;
  }
}
