.s8-normal-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}
.s8-container {
  width: 100%;
  max-width: 1000px;
  margin: 100px 0;
  display: flex;
  gap: 60px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.s8-title-box {
  text-align: center;
  line-height: 1.4;
}
.s8-title-box p {
  font-size: 4rem;
  font-weight: 800;
  color: #000000;
}
.s8-card-box {
  width: 100%;
  display: flex;
  gap: 60px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
.s8-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 20px;
  height: 600px;
  width: 400px;
  border-radius: 24px;
  position: relative;
  padding: 64px 20px;
  background-size: cover;
  background-repeat: no-repeat;
  box-sizing: border-box;
}
.s8-card-0-bg {
  background-image: url(https://static.toss.im/homepage-static/newtoss/select-card/my-challenge-bg-mobile.png);
}
.s8-card-1-bg {
  background-image: url(https://static.toss.im/homepage-static/newtoss/outro-campaign-banner-temp.png);
}
.s8-card-title-box {
  margin-bottom: 15px;
}
.s8-card-title-box p {
  color: #ffffff;
  font-size: 2.5rem;
  font-weight: 800;
  text-align: center;
}
.s8-card-desc-box {
  width: 100%;
  margin-bottom: 24px;
}
.s8-card-desc-box p {
  color: #aaa;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
}
.s8-card-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 150px;
  font-weight: 700;
  border-radius: 43px;
  padding: 18px 28px;
  transition: 0.15s ease-in-out all;
}
